
   *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
   
   }
   body{
         
         font-family: sans-serif;
         background-image: url('');
         
   
   }
   .we{
         margin-top: 10%;
   
   }
   #team{
         color: rgb(33, 31, 42);
       
   
   }
   
   .we h1{
          font-family: sans-serif;
          font-size: 52px;
          text-align: center;
          margin-bottom: 60px;
   }
   .team{
         display: flex;
         text-align: center;
         width: auto;
         justify-content: center;
   }
   .team .team_member{
          background: #fff;
          margin: 5px;
          margin-bottom: 50px;
          width: 300px;
          padding: 20px;
          line-height: 20px;
          color: #8e8b8b;
          position: relative;
   }
   .team .team_member h3{
          color: black;
          margin-top: 50px;
             font-size: 26px;
   }
   
   .team .team_member p.role{
         color:  black;
         font-size: 12px;
         text-transform: uppercase;
         margin: 12px 0;
         font-style: italic;
   }
   .team .team_member .team_img{
   
            width: 100px;
            height: 100px;
            border-radius: 50%;
   
   }
   
   .head{
         text-align: center;
         font-family: sans-serif;
         background-color: rgb(91, 192, 148);
         color: #152222;
         font-weight: 700;
        font-weight: strong;
         
   }
   #blog{
         padding:20px;
         text-align: center;
         color: rgb(54, 43, 30);
         background-color: rgb(181, 180, 194);
         font-family: sans-serif;
         margin: auto;
         font-size: large;
         font-style: italic
         
   }
   .team_img{
    
       width: 100px;
       height: 100px;
       background-size: 10px;
   }
      
